header,
footer {
    background: $darkBlue;
    height: 9.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    .navigation-pane {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $light;
        font-size: 1.8rem;
        font-weight: 600;
        .ledn-logo {
            width: 9rem;
        }
    }
}

header {
    position: relative;
    z-index: 1;
    background: transparent;
}

.banner {
    background: rgb(22, 102, 142);
    width: 100%;
    height: 66rem;
    margin-top: -9.5rem;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include desktopClipPath;
    &:after {
        content: "";
        background-image: url(../assets/images/ledn_background.jpeg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        position: absolute;
        background-color: $light;
        z-index: -1;
        opacity: 0.8;
        height: 80rem;
        top: -10rem;
    }
    .title {
        color: $light;
    }
    .description {
        color: $light;
        font-weight: 600;
    }
}

// buttons
.btn {
    border-radius: 2.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    padding: .85rem 3.5rem;
    cursor: pointer;
    text-decoration: none;
}
.btn-white {
    background: $light;
    color: $darkBlue;
}
.btn-color {
    background: $orange;
    color: $light;
}
.btn-transparent {
    background: transparent;
    border: 1px solid $light;
    color: $light;
    font-weight: 500;
    font-size: 1.3rem;
}

.info-block {
    text-align: center;
    margin: 4rem;
    max-width: 60rem;
    margin: 0 auto;
    .title {
        font-weight: 600;
        font-size: 3rem;
    }
    .text {
        font-size: 1.6rem;
        color: $grey;
        
    }
}

// 700px
@include smallScreen {
    .banner {
        @include mobileClipPath;
        .title {
            font-size: 3.2rem;
        }
        .description {
            font-size: 2rem;
        }
    }
}

// 480px
@include mobileScreen {
    header,
    footer {
        .content {
            .ledn-logo {
                width: 7rem;
            }
        }
    }

    .btn {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}