
.btn {
    border-radius: 2.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    padding: .85rem 3.5rem;
}

.btn-white {
    background: white;
    color: $blue;
}

.btn-blue {
    background: $blue;
    color: white;
}

.width-control {
    flex: 1;
    max-width: 120rem;
    margin: 0 auto;
}

@include largeScreen {
    .width-control {
        max-width: 100%;
        margin: 0 2rem;
    }
}