
.btn {
    border-radius: 2.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    padding: .85rem 3.5rem;
    cursor: pointer;
    text-decoration: none;
}

.btn-white {
    background: $light;
    color: $darkBlue;
}

.btn-blue {
    background: $darkBlue;
    color: $light;
}

.btn-color {
    background: $orange;
    color: $light;
}

.width-control {
    flex: 1;
    max-width: 115rem;
    margin: 0 auto;
}

.ml-1 {
    margin-left: 1rem;
}

@include largeScreen {
    .width-control {
        max-width: 100%;
        margin: 0 4rem;
    }
}