.custom-table {
    font-size: 1.2rem;
    padding: 2rem;
    background: $light;
    @include boxShadow;
    border-radius: 20px;
    margin-bottom: 4rem;

    table {
        width: 100%;
        border-spacing: 0;
        border-radius: 5px;
        tr td,
        tr th {
            padding: 1rem .5rem;
            text-align: left;
        }
        thead {
            background: $darkBlue;
            color: $light;
        }
        tbody {
            tr {
                &:nth-child(even) {
                    background: $background;
                }
                &:hover {
                    background: $highlightBlue;
                    color: $light;
                }
            }
        }
    }
    .header-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        .filter {
            input {
                background: $light;
                color: $darkBlue;
                padding: 0 1.5rem;
                width: 20rem;
                height: 3rem;
                outline: none;
                border-radius: 2.5rem;
                border: 1px solid $darkBlue;
            }
        }
    }
    .pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        button {
            background: $light;
            // background: $background;
            color: $darkBlue;
            border: none;
            border-radius: 50%;
            height: 3rem;
            width: 3rem;
            cursor: pointer;
            &:disabled {
                color: $grey;
                cursor: initial;
            }
        }
        .page-navigation {
            width: 14rem;
            display: flex;
            justify-content: space-between;
        }
        .page-indicator {
            color: $darkBlue;
        }
        .page-size-select {
            background: $light;
            color: $darkBlue;
            border: none;
            border-radius: 5px;
            height: 3rem;
            outline: none;
            padding: 0 1.5rem;
            width: 12rem;
            margin-left: 2rem;
            cursor: pointer;
        }
    }
    
}

@include largeScreen {
    .custom-table {
        tbody {
            font-size: 1.1rem;
        }
    }
}