h2 {
    margin: 2.5rem;
    font-weight: 300;
    font-size: 3rem;
    color: $darkBlue;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-size: 3rem;
    font-weight: 600;
    color: $darkBlue;
    text-align: center;
}