.table-container {
    font-size: 1.2rem;
    padding: 2rem;
    background: $light;
    @include boxShadow;
    border-radius: 20px;
    margin: 6rem 0;

    table {
        width: 100%;
        border-spacing: 0;
        border-radius: 5px;
        tr td,
        tr th {
            padding: 1rem .5rem;
            text-align: left;
        }
        thead {
            background: $darkBlue;
            color: $light;
        }
        tbody {
            tr {
                &:nth-child(even) {
                    background: $background;
                }
                &:hover {
                    background: $highlightBlue;
                    color: $light;
                }
            }
        }
    }
    .compact-table {
        .tr {
            margin: 4rem 0;
            &:nth-child(even) {
                background: $background;
            }
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
            .td {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                &:hover {
                    background: $highlightBlue;
                    div {
                        color: $light;
                    }
                }
                .cell {
                    padding: .5rem 1rem;
                    flex: 1;
                }
                .header {
                    color: $grey;
                    font-size: 1.5rem;
                }
                .value {
                    color: $darkBlue;
                    font-size: 1.6rem;
                }
            }
        }
    }
    .header-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        .search {
            input {
                font-size: 1.4rem;
                background: $light;
                color: $darkBlue;
                padding: 0 1.5rem;
                width: 20rem;
                height: 3rem;
                outline: none;
                border-radius: 2.5rem;
                border: 1px solid $darkBlue;
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    button {
        background: $light;
        color: $darkBlue;
        border: none;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        cursor: pointer;
        &:disabled {
            color: $grey;
            cursor: initial;
        }
    }
    .page-navigation {
        width: 14rem;
        display: flex;
        justify-content: space-between;
    }
    .page-indicator {
        color: $darkBlue;
    }
    .page-size-select {
        background: $light;
        color: $darkBlue;
        border: none;
        border-radius: 5px;
        height: 3rem;
        outline: none;
        padding: 0 1.5rem;
        width: 12rem;
        margin-left: 2rem;
        cursor: pointer;
    }
}

// 1200px
@include largeScreen {
    .table-container {
        tbody {
            font-size: 1.1rem;
        }
    }
}

// 700px
@include smallScreen {
    .compact-table {
        .tr .td {
            .value {
                text-align: right;
            }
        }
    }
}

// 480px
@include mobileScreen {
    .table-container {
        .compact-table {
            .tr .td {
                .header,
                .value {
                    font-size: 1.2rem;
                }
            }
        }
        .header-controls {
            flex-direction: column-reverse;
            .search {
                width: 100%;
                input {
                    width: 100%;
                }
            }
            .export-btn {
                margin-bottom: 2rem;
            }
        }
        .pagination {
            flex-direction: column;;
            .page-navigation {
                order: 2;
            }
            .page-indicator {
                order: 1;
                margin-bottom: 2rem;
            }
            .page-size-select {
                order: 3;
                margin-left: 0;
                margin-top: 1rem;
            }
        }
    }
}