h1, 
h2, 
h3 {
    color: $darkBlue;
    text-align: center;
}

h1 {
    font-size: 4.6rem;
    font-weight: 400;
}

h2 {
    margin: 2.5rem;
    font-weight: 300;
    font-size: 3rem;
    text-transform: uppercase;
}

h3 {
    font-size: 3rem;
    font-weight: 600;
}